tmp
tmp/*

preprint
preprint/*

src/scan_intensity_matcher.cpp
include/plain_slam/scan_intensity_matcher.hpp
src/lidar_imu_calibration.cpp
include/plain_slam/lidar_imu_calibration.hpp


data
data/*

doc
doc/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
